<div class="test">
<form method="post" action="">
  <div class="form-group">
    <label for="exampleInputEmail1">Từ khóa</label>
    <input type="text" name="q" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">từ khóa.</small>
  </div>
  <button type="submit" class="btn btn-primary">Tìm khiếm</button>
</form>
</div>
